{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans "Manage your email addresses" %} | {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="p-3 col-md-8 mx-md-auto">
    <h1>{% trans "Email addresses" %}</h1>
    {% if user.emailaddress_set.all %}
      <p class="lead">{% trans 'The following e-mail addresses are associated with your account:' %}</p>

      <form action="{% url 'account_email' %}" class="email_list" method="post">
        {% csrf_token %}

        <fieldset class="blockLabels">
          {% for emailaddress in user.emailaddress_set.all %}
            <div class="form-echek">
              <input id="email_radio_{{forloop.counter}}" type="radio" name="email"
               {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %}
               class="form-check-input" value="{{emailaddress.email}}"/>
              <label for="email_radio_{{forloop.counter}}" class="form-check-label {% if emailaddress.primary %}primary_email{%endif%}">
                {{ emailaddress.email }}
                {% if emailaddress.verified %}
                  <span class="verified">{% trans "Verified" %}</span>
                {% else %}
                  <span class="unverified">{% trans "Unverified" %}</span>
                {% endif %}
                {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
              </label>
            </div>
          {% endfor %}
          <div class="form-group py-3">
            <button class="btn btn-sm btn-secondary fw-bold border-white bg-white" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
            <button class="btn btn-sm btn-outline-light fw-bold" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
            <button class="btn btn-sm btn-danger fw-bold" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
          </div>
        </fieldset>
      </form>
    {% else %}
      <p>
        <strong>{% trans 'Warning:'%}</strong>
        {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
      </p>
    {% endif %}

    {% if can_add_email %}
      <h2 class="pt-2">{% trans "Add email address" %}</h2>
      <form method="POST" action="{% url 'account_email' %}">
        {% csrf_token %}

        {{ form|crispy }}
        <div class="form-group py-3">
          <button name="action_add" type="submit" class="btn btn-secondary fw-bold border-white bg-white">
            {% trans "Add email" %}
          </button>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    (function() {
      var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
      var actions = document.getElementsByName('action_remove');
      if (actions.length) {
        actions[0].addEventListener("click", function(e) {
          if (! confirm(message)) {
            e.preventDefault();
          }
        });
      }
    })();
  </script>
{% endblock %}
