{% extends 'base.html' %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm email address" %} | {{ block.super }} {% endblock title %}

{% block content %}
  <div class="p-3 col-md-8 mx-md-auto">
    <h1>{% trans "Confirm email address" %}</h1>
    {% if confirmation %}
      {% user_display confirmation.email_address.user as user_display %}
      <p class="lead">
        {% blocktrans with confirmation.email_address.email as email %}
          Please confirm that <a class="text-white" href="mailto:{{ email }}">{{ email }}</a>
          is an e-mail address for user {{ user_display }}.
        {% endblocktrans %}
      </p>
      <form method="POST"action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary fw-bold border-white bg-white">{% trans 'Confirm' %}</button>
      </form>
    {% else %}
      {% url 'account_email' as email_url %}
      <p class="lead">
        {% blocktrans %}
          This e-mail confirmation link expired or is invalid.
          Please <a class="text-white" href="{{ email_url }}"> issue a new e-mail confirmation request</a>.
        {% endblocktrans %}
      </p>
    {% endif %}
  </div>
{% endblock content %}
