{% extends 'base.html' %}
{% block title %} Log out | {{ block.super }} {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="p-3 col-md-8 mx-md-auto">
    <form id='logout_form' method='POST'>
      {% csrf_token %}

      <fieldset>
        <h1>Log out</h1>
        <p class="lead">Are you sure you want to log out?</p>
        <div class="text-start">
          {{ form|crispy }}
        </div>
      </fieldset>

      <div class="form-group py-3">
        <button type="submit" class="btn btn-danger fw-bold">Log out</button>
      </div>
    </form>
  </div>
{% endblock content %}
