{% extends 'base.html' %}
{% block title %} Enter new password | {{ block.super }} {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="p-3 col-md-8 mx-md-auto">
    <form method="POST">
      {% csrf_token %}

      <fieldset>
        <h1>Set a new password</h1>
        <div class="text-start">
          {{ form|crispy }}
        </div>
      </fieldset>

      <div class="form-group p-3">
        <button type="submit" class="btn btn-secondary fw-bold border-white bg-white">Reset password</button>
      </div>
    </form>
  </div>
{% endblock content %}
