{% extends 'base.html' %}
{% block title %} Sign up | {{ block.super }} {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="p-3 col-md-8 mx-md-auto">
    <form id='signup_form' method='POST'>
      {% csrf_token %}

      <fieldset>
        <h1>Sign up</h1>
        <div class="text-start">
          {{ form|crispy }}
        </div>

        <div class="form-group py-3">
          <button type="submit" class="btn btn-secondary fw-bold border-white bg-white">Sign up</button>
        </div>
      </fieldset>
    </form>

    <div class="border-top">
      <p>
        Already have an account?
        <a href="{% url 'account_login' %}" class="text-white">Login</a>
      </p>
    </div>
  </div>
{% endblock content %}
