{% extends '_base.html' %}

{% block content %}
  <main class="mt-auto">
    <div class="col-md-8 col-lg-4 p-3 mx-auto text-center">
      <h1 class="display-5 fw-bold">Sign up</h1>
      <form id="signup_form" class="p-2 p-md-3">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="id_email" placeholder="name@example.com">
            <label for="id_email">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="id_password1" placeholder="Password">
            <label for="id_password1">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="id_password2" placeholder="Password">
            <label for="id_password2">Confirm password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
          <hr class="my-4">
          <small class="text-muted">
            Already have an account? <a href="{% url 'account_login' %}">Log in</a>
          </small>
      </form>
    </div>
  </main>
{% endblock content %}
