{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your email address" %} | {{ block.super }} {% endblock title %}

{% block content %}    
  <div class="p-3 col-md-8 mx-md-auto">
    <h1>{% trans "Verify your email address" %}</h1>
    <p class="lead">
      {% blocktrans %}
        We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.
        Please contact us if you do not receive it within a few minutes.
      {% endblocktrans %}
    </p>
  </div>
{% endblock %}
