[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-extra-views = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
django-storages = {extras = ["google"], version = "*"}
psycopg2 = "*"
gunicorn = "*"
thefuzz = {extras = ["speedup"], version = "*"}

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
factory-boy = "*"
selenium = "*"
coverage = "*"
coveralls = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
myst-parser = "*"

[requires]

[pipenv]
allow_prereleases = true
