[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2 = "*"
gunicorn = "*"
django-storages = {extras = ["google"], version = "*"}
django-crispy-forms = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
django-extra-views = "*"
django-allauth = "*"

[dev-packages]
coverage = "*"
selenium = "*"
sphinx = "*"
coveralls = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
sphinx-markdown-tables = "*"

[requires]
