{% extends 'base.html' %}
{% block title %} Login | {{ block.super }} {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="p-3 col-md-8 mx-md-auto">
    <form id='login_form' method='POST'>
      {% csrf_token %}

      <fieldset>
        <h1>Login</h1>

        <div class="text-start">
          {{ form|crispy }}
        </div>
      </fieldset>

      <div class="form-group py-3">
        <button type="submit" class="btn btn-secondary fw-bold border-white bg-white">Login</button>
        <a href="{% url 'accounts:password_reset' %}" class="d-block text-white">Forgot password?</a>
      </div>
    </form>

    <div class="border-top">
      <p>
        Don't have an account?
        <a href="{% url 'accounts:register' %}" class="text-white">Register</a>
      </p>
    </div>
  </div>
{% endblock content %}
