{% extends 'base.html' %}
{% block title %} {{ user_information.username }} Profile | {{ block.super }} {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="p-3 col-md-8 mx-md-auto">
    <h1>{{ user_information.username }}</h1>
    <p class="lead"><strong>Full name:</strong> {{ user_information.profile.full_name }}</p>    
    <p class="lead"><strong>Gender:</strong> {{ user_information.profile.gender }}</p> 
    <p class="lead"><strong>Phone number:</strong> {{ user_information.phone_number }}</p>
    <p class="lead"><strong>Email:</strong> {{ user_information.email }}</p>
    <p class="lead"><strong>Phone number:</strong> {{ user_information.phone_number }}</p>

    {% if request.user  == user_information %}
      <a href="{% url 'accounts:user_update' user_information.username %}" class="btn btn-secondary fw-bold border-white bg-white">
        Edit
      </a>
    {% endif %}
  </div>
{% endblock content %}
