{% extends "base.html" %}

{% block title %} Dashboard | {{ block.super }} {% endblock title %}

{% block content %}
  <div class="p-3 mx-md-auto">
    <h1 class="border-bottom pb-3">{{ user.username|title }}'s dashboard</h1>
    <p class="lead py-2">We'll add some of your information here soon!</p>
    <div class="col-md-8 mx-md-auto">
      <a class="btn btn-secondary fw-bold border-white bg-white" data-bs-toggle="modal" href="#addChildModal" role="button">
        Add a child
      </a>
    </div>
  </div>
{% endblock content %}
