{% extends "base.html" %}
{% load static %}

{% block title %} Home | {{ block.super }} {% endblock title %}

{% block content %}
  <main class="px-3">
    <h1>StAnds Church School IMS</h1>
    <p class="lead">
      This your one-stop shop for accessing church school materials for your kids.
    </p>
    <p class="lead">
      <a href="{% url 'accounts:login' %}" class="btn btn-lg btn-outline-secondary fw-bold border-white text-white mx-3">Log in</a>
      <a href="{% url 'accounts:register' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Register</a>
    </p>
  </main>
{% endblock content %}
