{% extends 'base.html' %}
{% block title %}
  {% if body_temperature %} Update {% else %} Add {% endif %} a person's temperature record | {{ block.super }}
{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="p-3 col-md-8 mx-md-auto">
    <form id="body_temperature_form" method="POST">
      {% csrf_token %}

      <fieldset>
        <h1>
          {% if body_temperature %} Update {% else %} Add {% endif %} a person's temperature record
        </h1>

        <div class="text-start">
          {{ form|crispy }}
        </div>
      </fieldset>

      <div class="form-group py-3">
        <button type="submit" class="btn btn-secondary fw-bold border-white bg-white">
          {% if body_temperature %} Update {% else %} Add {% endif %}
        </button>
      </div>
    </form>
  </div>
{% endblock content %}
