{% extends "base.html" %}

{% block title %} Children's temperature records | {{ block.super }} {% endblock title %}

{% block content %}
  <div class="p-3">
    <h1>Children's temperature records</h1>
    {% if not children_temperature %}
      <p class="lead">There are no temperature records for children yet!</p>
    {% else %}
      <table class="table table-light table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Temperature</th>
            <th scope="col">Created at</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for record in children_temperature %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{{ record.child.get_absolute_url }}">{{ record.child.slug }}</a></td>
              <td>{{ record.temp }}&#8451;</td>
              <td>{{ record.created_at }}</td>
              <td>
                {% if user.is_staff %}
                  <a href="{% url 'records:child_temperature_update' record.pk %}"
                    class="btn btn-sm btn-outline-primary fw-bold">
                    update
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock content %}
