{% extends "base.html" %}

{% block title %} {{ person.username }} | {{ block.super }} {% endblock title %}

{% block content %}
  <div class="p-3 col-md-8 mx-md-auto">
    <h1>{{ person.username }}</h1>
    <p class="lead"><strong>Full name:</strong> {{ person.full_name }}</p>
    <p class="lead"><strong>Age:</strong> {{ person.age }}</p>

    {% if not person.is_adult and user.is_staff %}
      <a href="{% url 'people:child_update' person.username %}" class="btn btn-secondary fw-bold border-white bg-white">
        Edit
      </a>
    {% elif person.is_adult and user.is_superuser %}
      <a href="{% url 'accounts:profile_superuser_update' person.username %}" class="btn btn-secondary fw-bold border-white bg-white">
        Edit
      </a>
    {% endif %}
  </div>
{% endblock content %}
