{% extends 'base.html' %}
{% block title %} Delete a family relationship | {{ block.super }}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="p-3 col-md-8 mx-md-auto">
    <form method="POST">
      {% csrf_token %}

      <fieldset>
        <h1>
          Delete a family relationship
        </h1>
        <p class="lead">
          Are you sure you want to delete the relationship
          <a href="{% url 'people:relationship_detail' relationship.pk %}" class="text-white">
            {{ relationship }}
          </a>
        </p>
      </fieldset>

      <div class="form-group py-3">
        <a href="{% url 'people:relationship_list' %}"
         class="btn btn-outline-secondary fw-bold border-white text-white mx-3">
          Cancel
        </a>
        <button type="submit" class="btn btn-danger fw-bold">
          Yes, delete
        </button>
      </div>
    </form>
  </div>
{% endblock content %}
