{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>{% block title %} PCEA St. Andrew's Church IMS {% endblock title %}</title>

    {% comment %} Required meta tags {% endcomment %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Information management system for PCEA St. Andrew's Church">

    {% comment %} CSS {% endcomment %}
    {% block css %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
       integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

      <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endblock css %}

    {% comment %} Google Analytics {% endcomment %}
    {% if GOOGLE_ANALYTICS_ID %}{% include "google_analytics.html" %}{% endif %}

    {% comment %} Favicon {% endcomment %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  </head>

  <body class="d-flex h-100 {% block body_classes %} text-center text-white bg-blue {% endblock body_classes %}">
    <div class="cover-container d-flex w-100 h-100
     {% block body_div_classes %} mx-auto flex-column p-3 {% endblock body_div_classes %}">

      {% comment %} Navigation bar {% endcomment %}
      <input id="currentPagePath" value="{{ request.get_full_path }}" type="hidden">
      {% block navigation %}
        {% include "navigation.html" %}
      {% endblock navigation %}

      {% comment %} Content {% endcomment %}
      {% if messages %}
        {% for message in messages %}
          <div class="pt-3 col-md-8 mx-md-auto">
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show d-flex align-items-center">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock content %}

      {% comment %} Pagination {% endcomment %}
      {% block pagination %}
      {% if is_paginated %}
        {% include "pagination.html" %}
      {% endif %}
      {% endblock pagination %}

      {% comment %} Footer {% endcomment %}
      {% include "footer.html" %}
    </div>

    {% comment %} JavaScript {% endcomment %}
    {% block javascript %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
       <script src="{% static 'js/main.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
