{% load static %}

<header class="mb-auto">
  <div id="mainNavigation">
    <h3 class="float-md-start mb-0">
      <img src="{% static 'images/logo.png' %}" height="60">
      StAnds IMS
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'core:dashboard' %}">Home</a>        
        <a class="nav-link dropdown-toggle" href="#" id="childrenDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Children
        </a>
        <ul class="dropdown-menu" aria-labelledby="childrenDropdownMenuLink"> 
          <li>
            <a class="dropdown-item" href="{% url 'children:by_user_list' %}">Your children</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'children:relationship_by_user_list' %}">
              Your relationships
            </a>
          </li>
          {% if user.is_staff %}         
            {% comment %} 
            <li>
              <a class="dropdown-item" href="{% url 'children:child_relationship_create' %}">
                Add a child's information and your relationship
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <!-- {% url 'children:child_relationship_update' .slug %} -->
                Update children
              </a>
            </li>
            {% endcomment %}
            <li><a class="dropdown-item" href="{% url 'children:list' %}">All children</a></li>
            <li>
              <a class="dropdown-item" href="{% url 'children:relationship_list' %}">
                All children relationships
              </a>
            </li>
          {% endif %}
        </ul>
        {% if user.is_staff %}
          <a class="nav-link dropdown-toggle" href="#" id="temperatureRecordsDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Temperature records
          </a>
          <ul class="dropdown-menu" aria-labelledby="temperatureRecordsDropdownMenuLink">          
              <li><a class="dropdown-item" href="{% url 'records:child_temperature_list' %}">Children temperature records</a></li>
              <li>
                <a class="dropdown-item" href="{% url 'records:child_temperature_by_user_list' %}">
                  All children temperature records you've created
                </a>
              </li>
          </ul>
        {% endif %}

        <a class="nav-link dropdown-toggle" href="#" id="accountDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountDropdownMenuLink">
          {% if user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Go to admin</a></li>
          {% endif %}          
          <li><a class="dropdown-item" href="{% url 'accounts:user_detail' user.username %}">Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
        </ul>
      {% endif %}
    </nav>
  </div>
</header>
