{% load static %}

<header class="mb-auto">
  <div id="mainNavigation">
    <h3 class="float-md-start mb-0">
      <img src="{% static 'images/logo.png' %}" height="60">
      StAnds IMS
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'core:dashboard' %}">Dashboard</a>
        {% comment %} People {% endcomment %}
        <a class="nav-link dropdown-toggle" href="#" id="peopleDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          People
        </a>
        <ul class="dropdown-menu" aria-labelledby="peopleDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="{% url 'people:child_create' %}">Add a child</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'people:relationship_create' %}">
              Add a relationship
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'people:person_by_user_list' user.person.username %}">Your family members</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'people:relationship_by_user_list' user.person.username %}">
              Your family relationships
            </a>
          </li>
          {% if user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'people:person_list' %}">All people</a></li>
            <li>
              <a class="dropdown-item" href="{% url 'people:relationship_list' %}">
                All family relationships
              </a>
            </li>
          {% endif %}
        </ul>

        {% comment %} Records {% endcomment %}
        <a class="nav-link dropdown-toggle" href="#" id="recordsDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Records
        </a>
        <ul class="dropdown-menu" aria-labelledby="recordsDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="{% url 'records:body_temperature_by_person_list' user.person.username %}">
              Your temperature records
            </a>
          </li>
        </ul>

        {% comment %} Reports {% endcomment %}
        {% if user.is_staff %}
          <a class="nav-link dropdown-toggle" href="#" id="reportsDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="reportsDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'reports:body_temperature_today' %}">Today's temperature records</a></li>
          </ul>
        {% endif %}
        
        {% comment %} Account {% endcomment %}
        <a class="nav-link dropdown-toggle" href="#" id="accountDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountDropdownMenuLink">
          {% if user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Go to admin</a></li>
          {% endif %}
          <li><a class="dropdown-item" href="{% url 'accounts:profile_detail' user.person.username %}">Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:settings_detail' %}">Settings</a></li>
          <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a></li>
          <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
      {% endif %}
    </nav>
  </div>
</header>
