{% load static %}

<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">
      <img src="{% static 'images/logo.png' %}" height="60">
      StAnds Church School
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end" id="mainNavigation">
      <a class="nav-link active" aria-current="page" href="{% url 'core:index' %}">Home</a>

      {% if user.is_authenticated %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
        </ul>
      {% endif %}
    </nav>
  </div>
</header>
