{% extends "children/base.html" %}

{% block title %} {{ relationship }} | {{ block.super }} {% endblock title %}

{% block content %}
  <div class="mb-auto p-3 col-md-8 mx-md-auto">
    <h1>{{ relationship }}</h1>
    <p class="lead"><strong>
      <a href="{{ relationship.child.get_absolute_url }}" class="text-white">
        {{ relationship.child }}
      </a>
      is
      <a href="{{ relationship.parent.profile.get_absolute_url }}" class="text-white">
        {{ relationship.parent }}'s
      </a>
      {{ relationship.relationship_type }}
    </p>

    <a href="{% url 'children:relationship_update' relationship.pk %}"
     class="btn btn-secondary fw-bold border-white bg-white">
      Edit
    </a>
  </div>
{% endblock content %}
